<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bril.nopapermeet">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.Login"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:screenOrientation="landscape"
            android:theme="@style/splashTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".ui.activity.StartVoteActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity
            android:name=".ui.activity.MyVoteActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>

        <activity
            android:name=".ui.activity.CallOutActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>
        <activity
            android:name=".ui.activity.ApplySayActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar.Dialog"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>


        <activity
            android:name=".ui.activity.PdfActivity"
            android:label="PdfActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden"></activity>


    </application>

</manifest>